<footer class="footer navbar-fixed-bottom">
		<div class="container-fluid mb-2">
			<span class="aw-footer-disclaimer">&copy; 2020 Berto Consultorias. Todos os direitos reservados.</span>
		</div>
	</footer>